:root {
    --font: rgb(0, 0, 0);
    --background: rgb(254, 252, 246);
    /* --background: rgb(252, 246, 226); */
    --link-background: rgb(246, 240, 220);
    /* --link-background: rgb(252, 246, 226); */
    /* --link-background: rgb(237, 232, 212); */
}
